{extend name="layout" /}

{block name="content"}
<style>
    .bs-bars{
        width:100%;
    }
</style>
<div style="margin: 15px;">
    <blockquote class="layui-elem-quote">
        <h1>订单列表</h1>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>查询条件</legend>
        <form action="" class="layui-form">
            <div class="layui-form-item" style="width: 90%;">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-inline">
                    <input id="name" type="text" name="name" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
                </div>
                <button id="searchSubmit" class="layui-btn">
                    <i class="fa fa-search" data-icon="fa-search"></i>
                    查询
                </button>
            </div>
        </form>
    </fieldset>

    <div id="toolbar">
        <button id="refresh" class="layui-btn">
            <i class="fa fa-refresh" data-icon="fa-refresh"></i>
            刷新表格
        </button>
        <div class="layui-input-inline" style="width: 60px">
            <input id="page" class="layui-input" type="number" value="1" min="1" max="3">
        </div>
        <button id="selectPage" class="layui-btn">跳页</button>

    </div>
    <table id="table"
           data-toggle="table"
           data-height="760"
           data-toolbar="#toolbar"
           data-pagination="true"
           data-side-pagination="server"
           data-page-size="30"
           data-ajax="ajaxRequest">
        <thead>
        <tr>
            <th data-field="id">id</th>
            <th data-field="order_no">订单号</th>
            <th data-field="add_name">客户名字</th>
            <th data-field="add_mobile">电话</th>
            <th data-field="snap_name">商品标题</th>
            <th data-field="total_count">商品总数</th>
            <th data-field="total_price">商品总价</th>
            <th data-field="create_time">时间</th>
            <th data-field="status" data-formatter="status">状态</th>
            <th data-field="" data-formatter="formAction">操作</th>
        </tr>
        </thead>
    </table>
</div>
{/block}

{block name="script"}
<script>
    var $page = $('#page'),
        $button = $('#selectPage'),
        $refresh = $('#refresh');
    $refresh.click(function(){
        $table.bootstrapTable('refresh');
    });
    $button.click(function () {
        $table.bootstrapTable('selectPage', +$page.val());
    });

    var $table = $('#table');

    function sex(value,row,index) {
        if( value === 1 ){
            return '男';
        }else{
            return '女'
        }
    }

    function formAction(value,row,index) {
        var order_no = "'"+row.order_no+"'";
        return '<a href="/admin/order/detail?id='+row.id+'">详情</a>' +
            '&nbsp;&nbsp;&nbsp;'
//            '<a onclick="del('+row.id+')">删除</a>';
    }

    function status(value,row,index) {
        if( value === 1 ){
            return '未支付'
        }else if( value === 2 ){
            return '已支付';
        }else if( value === 3 ){
            return '已发货'
        }else if( value === 4 ){
            return '已支付，但库存不足'
        }
    }

    function addTab(){
        parent.tab.tabAdd({
            "title": '订单详情',
            "icon": "&#xe609;",
            "href": "/admin/product/add"
        });
    }

    function detailTab(order_no,id) {
        parent.tab.tabAdd({
            "title": order_no,
            "icon": "&#xe609;",
            "href": "/admin/order/detail?id="+id+""
        });
    }

    $('#searchSubmit').click(function(){
        $table.bootstrapTable('selectPage', 1);
        return false;
    });
    //请求数据
    function getData(data){
        var status = "{$status}";
        var json;
        var form = $('.layui-form').find('input,select');
        var len = form.length;
        var req = {};
        for(var i = 0; i < len; i++){
            var key = form.eq(i).attr('name');
            var val = form.eq(i).val();
            req[key] = val;
        }
        req.limit = data.limit;
        req.offset = data.offset;
        req.status = status;
        $.ajax({
            type:"post",
            url:"/admin/order/getOrderAll",
            data:req,
            dataType:"json",
            async:false,
            success:function(res){
                json = res;
            }
        });
        return json;
    }
    function ajaxRequest(params){
        //得到数据
        var json = getData(params.data);
        //分配数据
        params.success({
            total:json.data.total,
            rows:json.data.list
        });
    }


    layui.use(['form', 'laydate'], function() {
        var form = layui.form(),
            layer = layui.layer,
            laydate = layui.laydate;

        form.on('select(country)',function(data){
            listenSelect(form,data)
        });

    });

</script>
{/block}