{extend name="layout" /}

{block name="content"}
<style>
    .bs-bars{
        width:100%;
    }
</style>
<div style="margin: 15px;">
    <blockquote class="layui-elem-quote">
        <h1>订单列表</h1>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>查询条件</legend>
        <form action="" class="layui-form">
            <div class="layui-form-item" style="width: 90%;">
                <label class="layui-form-label">审核单名称</label>
                <div class="layui-input-inline">
                    <input id="name" type="text" name="name" autocomplete="off" placeholder="请输入审核人员名称" class="layui-input">
                </div>
                <button id="searchSubmit" class="layui-btn">
                    <i class="fa fa-search" data-icon="fa-search"></i>
                    查询
                </button>
            </div>
        </form>
    </fieldset>

    <div id="toolbar">
        <button id="refresh" class="layui-btn">
            <i class="fa fa-refresh" data-icon="fa-refresh"></i>
            刷新表格
        </button>
        <div class="layui-input-inline" style="width: 60px">
            <input id="page" class="layui-input" type="number" value="1" min="1" max="3">
        </div>
        <button id="selectPage" class="layui-btn">跳页</button>

    </div>
    <table id="table"
           data-toggle="table"
           data-height="760"
           data-toolbar="#toolbar"
           data-pagination="true"
           data-side-pagination="server"
           data-page-size="30"
           data-ajax="ajaxRequest">
        <thead>
        <tr>
            <th data-field="id">用户编号</th>
            <th data-field="realname">真实姓名</th>
            <th data-field="mobile">电话</th>
            <th data-field="idfront" data-formatter="img">身份证正面</th>
            <th data-field="idback" data-formatter="img">身份证背面</th>
            <th data-field="Bslicense" data-formatter="img">营业执照</th>
            <th data-field="update_time">更新时间</th>
			<th data-field="create_time">创建时间</th>
            
            <th data-field="" data-formatter="formAction">操作</th>
        </tr>
        </thead>
    </table>
</div>
{/block}

{block name="script"}
<script>
    var $page = $('#page'),
        $button = $('#selectPage'),
        $refresh = $('#refresh');
    $refresh.click(function(){
        $table.bootstrapTable('refresh');
    });
    $button.click(function () {
        $table.bootstrapTable('selectPage', +$page.val());
    });

    var $table = $('#table');

    function sex(value,row,index) {
        if( value === 1 ){
            return '男';
        }else{
            return '女'
        }
    }
   function img(value,row,index) {
	  
	 return '<img src="'+value+'" width="30px"></img>'
        
    }
    function formAction(value,row,index) {
        
        return '<a onclick="to_accept('+row.id+')">同意</a>'
		+'&nbsp;&nbsp;&nbsp;'+'<a onclick="to_reject('+row.id+')">拒绝</a>'
		+'&nbsp;&nbsp;&nbsp;' +'<a onclick="to_delete('+row.id+')">删除</a>';
    }
function to_accept(id){
       layer.confirm('你确定要同意该审核单么?', {
           btn: ['确定','取消'] //按钮
       }, function(){
           $.post("{:url('accept')}",{id:id},function (mes) {
               if(mes.code === 200){
                   layer.alert(mes.msg);
                   layer.closeAll();
                   $table.bootstrapTable('refresh',$page.val());
               }
           },'json')
       });
	   
   }
   function to_reject(id){
       layer.confirm('你确定要拒绝该审核单么?', {
           btn: ['确定','取消'] //按钮
       }, function(){
           $.post("{:url('reject')}",{id:id},function (mes) {
               if(mes.code === 200){
                   layer.alert(mes.msg);
                   layer.closeAll();
                   $table.bootstrapTable('refresh',$page.val());
               }
           },'json')
       });
   	   
   }
   function to_delete(id){
       layer.confirm('你确定要删除该审核单么?', {
           btn: ['确定','取消'] //按钮
       }, function(){
           $.post("{:url('delete')}",{id:id},function (mes) {
               if(mes.code === 200){
                   layer.alert(mes.msg);
                   layer.closeAll();
                   $table.bootstrapTable('refresh',$page.val());
               }
           },'json')
       });
	   
   }

  

    $('#searchSubmit').click(function(){
        $table.bootstrapTable('selectPage', 1);
        return false;
    });
    //请求数据
    function getData(data){
      
        var json;
        var form = $('.layui-form').find('input,select');
        var len = form.length;
        var req = {};
        for(var i = 0; i < len; i++){
            var key = form.eq(i).attr('name');
            var val = form.eq(i).val();
            req[key] = val;
        }
        req.limit = data.limit;
        req.offset = data.offset;
      
        $.ajax({
            type:"post",
            url:"/admin/Requests/getRequestAll",
            data:req,
            dataType:"json",
            async:false,
            success:function(res){
                json = res;
            }
        });
        return json;
    }
    function ajaxRequest(params){
        //得到数据
        var json = getData(params.data);
        //分配数据
        params.success({
            total:json.data.total,
            rows:json.data.list
        });
    }


    layui.use(['form', 'laydate'], function() {
        var form = layui.form(),
            layer = layui.layer,
            laydate = layui.laydate;

        form.on('select(country)',function(data){
            listenSelect(form,data)
        });

    });

</script>
{/block}