{extend name="layout" /}

{block name="style"}
<link rel="stylesheet" href="__admin__/plugins/upload.css">
{/block}

{block name="content"}
    <div class="site-text site-block" style="margin: 15px">
        <blockquote class="layui-elem-quote">
            <h1>一键添加商品</h1>
        </blockquote>
        <form class="layui-form" action="/admin/product/upload_excel" method="post" enctype="multipart/form-data">


            
            <div class="layui-form-item">
                <label class="layui-form-label">导入excel</label>
                <div class="layui-box layui-upload-button" >
                    <input  name="excel" type="file" class="">
                    <span class="layui-upload-icon" style="width: 130px;"><i class="layui-icon"></i>上传excel文件</span>
                </div>
               
                <div id="logo-file-wrap">
                    <img src="" alt="">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn " lay-submit="" lay-filter="formDemo" style="width: 80px; text-align: center;">提交</button>
					
                    <button  type="reset" class="layui-btn layui-btn-primary">重置</button>
					
                </div>
            </div>

        </form>
		<form class="layui-form" action="/admin/product/excel_data" method="post" enctype="multipart/form-data">
		
		    <div class="layui-input-block">
		        <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="formDemo" style="width: 160px; text-align: center;">导出</button>
		    </div>
	</form>
		
    </div>
{/block}

{block name="script"}
<script src="__admin__/js/jquery-1.7.2.min.js"></script>
<script src="__admin__/plugins/T_upload.js"></script>
<script src="__admin__/js/mine.js"></script>
    <script>

	    $.post("{:url('/admin/product/excel_data()')}",function (mes) {
	        if(mes.code === 200){
	            layer.alert(mes.msg);
	            layer.closeAll();
	            $table.bootstrapTable('refresh',$page.val());
	        }else {
	            layer.alert(mes.msg);
	           
	        }
	    },'json')
	});
    </script>
{/block}
